@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #0a0a0f;
  color: white;
  overflow-x: hidden;
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0a0a0f;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #8b5cf6, #ec4899);
  border-radius: 10px;
}

/* Selección de texto */
::selection {
  background: rgba(139, 92, 246, 0.3);
}
